//UTILS
@import "./utils/_variables.scss";

//à supprimer, uniquement pour prévis
body {
  width:375px;
  margin: auto;
}

//mise en forme
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

body {
  color:$background-color;
}

p{
  font-family: $police;
  font-size: 1rem;
  color:black;
}

.logo {
  font-family: $logo;
  text-align: center;
  color: $text-color-1;
}

.local {
  display: flex;
  justify-content: center;
  padding: 1.25rem 1rem;
  background-color: #eaeaea;
  font-size: 1.2rem;
  position: relative;
}

.icone-noire {
  color:$text-color-2;
  margin-right: 1rem;
}

.recherche {
  font-family: $police;
  font-size: 1rem;
  color:$text-color-2;
}