//UTILS
@import "./utils/_variables.scss";

//COMPONENTS
@import "./components/btn.scss";

//PAGES
@import "./pages/common.scss";
@import "./pages/home.scss";
@import "./pages/resto.scss";


//mise en forme
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');


