@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
.gradient-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gradient-btn {
  text-align: center;
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 300;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #ffffff;
  background: linear-gradient(#9356dc, #ee73da);
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}

body {
  color: #ffffff;
  font-family: Roboto, sans-serif;
}

p, a {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  color: black;
  font-weight: 400;
}

p.light {
  font-weight: 300;
}

.center {
  text-align: center;
}

h1 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: black;
}

h2 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: black;
  text-transform: uppercase;
  margin-block-end: 0.2rem;
}

.logo {
  font-family: Shrikhand, "cursive";
  text-align: center;
  color: black;
}

.footer {
  background-color: #353535;
  padding: 2rem;
  text-align: left;
}

.logo-footer {
  font-family: Shrikhand, "cursive";
  font-size: 1rem;
  color: #ffffff;
}

.txt-footer {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 300;
  line-height: 2rem;
}

.local {
  display: flex;
  justify-content: center;
  padding: 1.25rem 1rem;
  background-color: #eaeaea;
  font-size: 1.2rem;
  position: relative;
  box-shadow: 1px 10px 4px -5px rgba(125, 125, 125, 0.75) inset;
}

.icone-noire {
  color: #353535;
  margin-right: 1rem;
}

.recherche {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  color: #353535;
}

.explore {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-content: center;
}

.tutorial {
  padding: 2rem 1rem;
  display: block;
}
.tutorial__elements {
  display: flex;
  flex-direction: column;
}
.tutorial__element {
  background-color: #f6f6f6;
  border-radius: 1rem;
  position: relative;
  margin: 1rem 0 0 1rem;
  padding: 1.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.52);
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  color: black;
  font-weight: 400;
}
.tutorial__count {
  background-color: #9356dc;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: -1rem;
  margin: auto 0;
  padding: 0.5rem;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}
.tutorial__title {
  margin-top: 0;
}
.tutorial__icon {
  margin-right: 0.5rem;
  color: #7e7e7e;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 1rem;
}
.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.card {
  background-color: #ffffff;
  border-radius: 1rem;
  position: relative;
  margin: 5%;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.52);
}
.card__link {
  text-decoration: none;
}
.card__img {
  height: 10rem;
  width: 100%;
  border: transparent solid 0;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}
.card__badge {
  background-color: #9ae2d0;
  color: #018766;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
.card__text {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}
.card__content {
  flex: 1;
}
.card__title {
  margin: 0;
  margin-bottom: 0.25rem;
  font-weight: 700;
  font-size: 1.2rem;
}
.card__subtitle {
  margin: 0;
  font-weight: 300;
  font-size: 1.2rem;
}
.card__like {
  color: black;
}

.plat {
  padding: 2rem 1rem;
  margin: 0;
  display: block;
  background-color: #f6f6f6;
}
.plat__hr {
  border: 1px solid #9ae2d0;
  max-width: 3rem;
  margin: 0;
  line-height: 0;
}
.plat__elements {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.plat__element {
  background-color: #ffffff;
  border-radius: 1rem;
  position: relative;
  margin: 1rem 0 0 0;
  padding: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2);
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  color: black;
  font-weight: 400;
}
.plat__nom {
  font-weight: 500;
}
.plat__description {
  font-size: 0.9rem;
  font-weight: 300;
}
.plat__prix {
  font-weight: 500;
  float: right;
}

/*# sourceMappingURL=style.css.map */
