.local {
  display: flex;
  justify-content: center;
  padding: 1.25rem 1rem;
  background-color: #eaeaea;
  font-size: 1.2rem;
  position: relative;
  box-shadow: 1px 10px 4px -5px rgba(125,125,125,0.75) inset;
}

.icone-noire {
  color:$text-color-2;
  margin-right: 1rem;
}

.recherche {
  font-family: $police;
  font-size: 1rem;
  color:$text-color-2;
}

.explore {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-content: center;
}

.tutorial {
  padding: 2rem 1rem;
  display: block;

  &__elements {
    display: flex;
    flex-direction: column;
  }

  &__element {
    background-color: $background-fade;
    border-radius: 1rem;
    position: relative;
    margin: 1rem 0 0 1rem;
    padding: 1.5rem;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.52);
    font-family: $police;
    font-size: 1rem;
    color:$text-color-1;
    font-weight: 400;
  }

  &__count {
    background-color: $primary-color;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: -1rem;
    margin: auto 0;
    padding: .5rem;
    font-family: $police;
    font-size: 1rem;
    color:$background-color;
    font-weight: 400;
    text-align: center;
  }

  &__title {
    margin-top: 0;
  }

  &__icon {
    margin-right: .5rem;
    color: #7e7e7e;
  }
}

.restaurants {
  background-color: #f6f6f6;
  padding: 1rem;

  &__title {

  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.card {
  background-color: $background-color;
  border-radius: 1rem;
  position: relative;
  margin: 5%;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.52);

  &__link {
    text-decoration: none;
  }

  &__img {
    height: 10rem;
    width: 100%;
    border: transparent solid 0;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
  }

  &__badge {
    background-color: $accent-color;
    color: $accent-fade;
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 1rem;
    right: 0.75rem;
  }

  &__text {
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__content {
    flex: 1;
  }

  &__title {
    margin: 0;
    margin-bottom: 0.25rem;
    font-weight: 700;
    font-size: 1.2rem;
  }

  &__subtitle {
    margin: 0;
    font-weight: 300;
    font-size: 1.2rem;
  }

  &__like {
    color:$text-color-1;
  }
}