.local {
  display: flex;
  justify-content: center;
  padding: 1.25rem 1rem;
  background-color: #eaeaea;
  font-size: 1.2rem;
  position: relative;
  box-shadow: 1px 10px 4px -5px rgba(125,125,125,0.75) inset;
}

.icone-noire {
  color:$text-color-2;
  margin-right: 1rem;
}

.recherche {
  font-family: $police;
  font-size: 1rem;
  color:$text-color-2;
}

.explore {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-content: center;
}

.card-resto {
  background-color: red;
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.text-resto {
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  color: white;
}