.restaurant {
  padding: 0;
  margin: 0;
  display: block;
  background-color: $background-color;

  &__image {
    width: 100%;
    height: auto;
  }

  &__nom {
    padding: .5rem 1rem;
    margin: 0;
    display: block;
    background-color: $background-fade;
    border-top-left-radius: 2rem;
    border-top-right-radius: 3rem;
  }

  &__title {
    font-family: $logo;
    text-align: left;
    color: $text-color-1;
  }
}

.plat {
  padding: 2rem 1rem;
  margin: 0;
  display: block;
  background-color: $background-fade;

  &__hr {
    border: 1px solid $accent-color;
    max-width: 3rem;
    margin:0;
    line-height: 0;
  }

  &__elements {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  &__element {
    background-color: $background-color;
    border-radius: 1rem;
    position: relative;
    margin: 1rem 0 0 0;
    padding: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.20);
    font-family: $police;
    font-size: 1rem;
    color: $text-color-1;
    font-weight: 400;
  }

  &__nom {
    font-weight: 500;
  }

  &__description {
    font-size: 0.9rem;
    font-weight: 300;
  }

  &__prix {
    font-weight: 500;
    float: right;
  }
}