//Couleurs

$background-color: #ffffff;
$primary-color: #9356dc;
$primary-fade : #ee73da;
$accent-color: #9ae2d0;
$accent-fade: #018766;
$text-color-1: black;
$text-color-2: #353535;

//polices
$police: Roboto, sans-serif;
$logo: Shrikhand,"cursive";